<li style="padding-bottom: 10px">
  <strong> {{ publi.title }} </strong>
  <br />
  {% for author in publi.authors %} {{ author.name}}{% if author.orcid %}<sup
    ><a href="{{ author.orcid }}" target="_blank"
      ><i class="ai ai-orcid"></i></a></sup
  >{% endif %}{% unless forloop.last%}, {% endunless %} {% endfor %}<br />
  <a href="{{ publi.link.url }}" target="_blank"
    >{{ publi.journal }}{% if publi.journal_abbreviation %}
    {{publi.journal_abbreviation}} {%endif%}
    <strong>{{publi.biblio.volume}}</strong>, {{publi.biblio.issue}}
    {{publi.biblio.first_page}}
  </a>
  ({{publi.publication_year}})
  <br />
  {% if publi.oa_url %}
  <em> Open access: </em>
  <a href="{{ publi.oa_url }}" target="_blank">
    <span class="glyphicon glyphicon-save"></span>
  </a>
  <br />
  {% endif %}
</li>

<style scoped>
  i.ai-orcid {
    font-size: smaller;
    color: #a6ce39;
  }
  i.ai-orcid:hover {
    font-size: smaller;
    color: #7ece23;
  }
</style>
