{% assign number_printed = 0 %}
{% for member in site.data.team.alumni_members %}
{% assign even_odd = number_printed | modulo: 2 %}
{% if even_odd == 0 %}

<div class="row">
{% endif %}
<div class="col-sm-6 clearfix">
  <img src="/assets/images/members/{{ member.photo }}" class="img-responsive" width="25%" style="float: left" />
  <h4>{{ member.name }}</h4>
  <i>{{ member.duration }} <br> </i>
    {{ member.thesis }}
  <br>
  Now at : <i> {{ member.now_at }}</i>
</div>

{% assign number_printed = number_printed | plus: 1 %}

{% if even_odd == 1 %}

</div>
{% endif %}

{% endfor %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if even_odd == 1 %}

</div>
{% endif %}