
{% assign number_printed = 0 %}
{% assign section = include.s %}
{% assign filtered_members = site.data.team.members | where: "status", section.status %}
{% assign member_count = filtered_members | size %}


{% for member in site.data.team.members %}
{% if member.status == section.status %}
{% assign even_odd = number_printed | modulo: 2 %}

{% if even_odd == 0 %}<div class="row">{% endif %}

<div class="col-sm-6 clearfix">

{% if member.photo %}
<img src="/assets/images/members/{{ member.photo }}" class="img-responsive" width="25%" style="float: left" />
{%else%}
{% assign placeholder_images = site.static_files | where_exp:"file", "file.path contains 'members/placeholders'" %}
{% assign random_index = placeholder_images | sample%}
<img src="{{ site.url }}{{ site.baseurl }}{{ random_index.path }}" class="img-responsive" width="25%" style="float: left" />
  {%endif%}
 

 {% for staff in site.members %} 
  {% if staff.name == member.name %} 
  <h4><a href="{{ staff.url}}" class="a-name">{{ member.name }}  <span class="glyphicon glyphicon glyphicon-info-sign" style="font-size:16px" aria-hidden="true"></span>
  </a> </h4> 
  {% assign havePage = true %}
  {% endif %}
   {% endfor %}
   {% if havePage == false %}
   <h4>{{ member.name }} </h4>
   {%endif%}
   {% assign havePage = false %}
  {{ member.info }} <br>
  <a href="mailto:{{ member.email }}"> {{member.email }} </a>
  <br> 
  <i>{{member.tagline}} </i>
  <ul style="overflow: hidden">
    {% for i in (1..6) %}
    {% assign edu ="education" | append: #i %}
    {% if member[edu] %}
    <li> {{ member[edu] | markdownify | remove: '<p>' | remove: '</p>'  }} </li>
    {% endif %}
    {% endfor %}
  </ul>
  </div>

{% assign number_printed = number_printed | plus: 1 %}
{% if even_odd == 1 or number_printed == member_count %} </div> {% endif %}
{% endif %}
{% endfor %}

