<div class="container intro-container">
  <h3 id="{{ page.about_title | slugify | default: 'about-me' }}">{{ page.about_title | default:
  "About Me" }}</h3>
  <div class="row clearfix">
    {%- if page.about_profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <span class="profile-img" style="background-image: url({{ page.about_profile_image | relative_url }})"></span>
      </div>
    {%- endif -%}
    <div class="{{ 'col-xs-12 ' }}{%- if page.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      {{ page.about_content | strip | markdownify }}
    </div>
  </div>
</div>
