<div class="row clearfix">
  <div class="col-md-12">
    <div id="yearButtonsContainer"></div>
    <div style="padding-top: 20px; padding-bottom: 50px">
      <ol reversed>
        {% assign data = site.data.publications.members[include.content.yaml_file] %}

        {% for publi in data %}
        <div class="publi_div" data-year="{{publi.publication_year}}">
          {% include publication_single.html %}
        </div>
        {% endfor %}
      </ol>
    </div>
  

  </div>
</div>
{% if include.content.filter%}
<script src="{{ site.url }}{{ site.baseurl }}/js/filterYear.js"></script>
{%endif%}
